body {
  font-family: sans-serif;
  margin: auto;
  /* max-width: 1280px; */
  margin: 0px 30px 0px 30px;
  color: #F8F9FA;
  background-color: #333A41;

}

.navbar {
  background-color: #7D4698;
  border-radius: 100px;
  max-width: 400px;
  position:sticky;
  top: 0;
  text-align: center;
}

.page{
  position: relative;
}

.navbar a {
  color: #F8F9FA;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #68B030;
}


h1 {
  color: #68B030
}

h2 {
  color: #68B030
}

h3 {
  color: #68B030
}

h4 {
  color: #68B030
}

a{
  color: #FFFFFF
}
